* {
  margin: 0;
  padding: 0;
  font-family: 'Monserrat', san-serif;
  font-family: 'Roboto', san-serif;

}

.MuiTableContainer-root {
  box-shadow: none;
}

.MuiTable-root {
  border-collapse: separate;
  border-spacing: 0 10px;
  border: transparent;
}

.MuiTable-root th {
  /* border-top: 1px solid black; */
  border-bottom: 1px solid black;
  margin-top: 1rem;

}

.MuiTable-root td {
  border-spacing: 1rem;
}